<div class="comment comment_container" id="comment_container_<%= id %>">
    <div class="comment_content" id="comment_content_<%= id %>">
        <div class="row user_comment">
            <%= link_to(profile_name, 'index.php?r=profile/view&id='+profile_id)%>
        </div>
        <div class="row wrap_text">
            <%= content %>
        </div>
        <div class="row">
            <div class="time_update">
                <i><span class="human-time" changed="1" created_at="<%=created_at%>" ><%= human_time %></span></i>
            </div>
            <input id="reply_button_<%= id %>" type="button" data-comment_id=<%= id %> value="Reply" data-comment_id="<%= id %>" class="reply_comment btn btn-primary btn-mini">
            <% if (children_comments_count !== undefined ) { %>
                <% if (children_comments_count > 0) { %>
                 <input id="load_children_button_<%= id %>" type="button" value="Load replies (<%= children_comments_count %>)" data-comment_id="<%= id %>" class="load_children_comment btn btn-info btn-mini">
                <% } %>
            <% } %> 
        </div>
    </div>
</div>
<div class="children_comments" id="children_comments_<%= id %>">
</div>
