<%
    CREATE_POLL = 1;
    ADD_CHOICE = 2;
    CHANGE_POLL_TIME = 3;
    CHANGE_POLL_SETTING = 4;
    VOTE = 5;
    RE_VOTE = 6;
    INVITE = 7;
    COMMENT = 8;
    REPLY_COMMENT = 9;
    user = link_to(profile_name, 'index.php?r=profile/view&id='+profile_id);
    poll = link_to(poll_question, 'index.php?r=poll/view&id='+poll_id);
%>
<div id="stream_<%= id %>" class="alert alert-success stream-item" hidden="hidden">
    <% if (type == CREATE_POLL) { %>
    <%= user %> created poll
    <%= poll %> 
    <% } %>
    <% if (type == ADD_CHOICE) { %>
    <%= user %> added choice
    <b><%= choice_content %></b> for poll
    <%= poll %> 
    <% } %>
    <% if (type == CHANGE_POLL_TIME) { %>
    <%= user %> changed time settings of poll 
    <%= poll %> 
    <% } %>
    <% if (type == CHANGE_POLL_SETTING) { %>
    <%= user %> changed settings of poll 
    <%= poll %> 
    <% } %>
    <% if (type == VOTE) { %>
    <%= user %> voted in poll
    <%= poll %> with 
    <b><%= choice_content %></b>
    <% } %>
    <% if (type == RE_VOTE) { %>
    <%= user %> re-voted in poll 
    <%= poll %> with 
    <b><%= choice_content %></b>
    <% } %>
    <% if (type == INVITE) { %>
    <%= user %> invited 
    <%= link_to(target_profile_name, 'index.php?r=profile/view&id='+target_profile_id) %> to vote in poll 
    <%= poll %> 
    <% } %>
    <% if (type == COMMENT) { %>
    <%= user %> commented in poll 
    <%= poll %> 
    <% } %>
    <% if (type == REPLY_COMMENT) { %>
    <%= user %> replied a comment in poll 
    <%= poll %> 
    <% } %>
</div>