<%
    CREATE_POLL = 1;
    ADD_CHOICE = 2;
    CHANGE_POLL_TIME = 3;
    CHANGE_POLL_SETTING = 4;
    VOTE = 5;
    RE_VOTE = 6;
    INVITE = 7;
    COMMENT = 8;
    REPLY_COMMENT = 9;
    user = link_to(profile_name, 'index.php?r=profile/view&id='+profile_id);
    poll = link_to(poll_question, 'index.php?r=poll/view&id='+poll_id);
%>
<div id="stream_<%= id %>" class="alert alert-success stream-item" hidden="hidden">
    <% if (type == CREATE_POLL) { %>
    <span class='info_user_new' data-profile_id='<%= profile_id %>'>
    <%= user %> </span> created poll
    <span class='info_poll_new' data-poll_id='<%= poll_id %>'>
    <%= poll %> </span>
    <% } %>
    <% if (type == ADD_CHOICE) { %>
    <span class='info_user_new' data-profile_id='<%= profile_id %>'>
    <%= user %> </span> added choice
    <b><%= choice_content %></b> for poll
    <span class='info_poll_new' data-poll_id='<%= poll_id %>'>
    <%= poll %> </span>
    <% } %>
    <% if (type == CHANGE_POLL_TIME) { %>
    <span class='info_user_new' data-profile_id='<%= profile_id %>'>
    <%= user %> </span> changed time settings of poll 
    <span class='info_poll_new' data-poll_id='<%= poll_id %>'>
    <%= poll %> </span>
    <% } %>
    <% if (type == CHANGE_POLL_SETTING) { %>
    <span class='info_user_new' data-profile_id='<%= profile_id %>'>
    <%= user %> </span> changed settings of poll 
    <span class='info_poll_new' data-poll_id='<%= poll_id %>'>
    <%= poll %> </span>
    <% } %>
    <% if (type == VOTE) { %>
    <span class='info_user_new' data-profile_id='<%= profile_id %>'>
    <%= user %> </span> voted in poll
    <span class='info_poll_new' data-poll_id='<%= poll_id %>'>
    <%= poll %> </span> with 
    <b><%= choice_content %></b>
    <% } %>
    <% if (type == RE_VOTE) { %>
    <span class='info_user_new' data-profile_id='<%= profile_id %>'>
    <%= user %> </span> re-voted in poll 
    <span class='info_poll_new' data-poll_id='<%= poll_id %>'>
    <%= poll %> </span> with 
    <b><%= choice_content %></b>
    <% } %>
    <% if (type == INVITE) { %>
    <span class='info_user_new' data-profile_id='<%= profile_id %>'>
    <%= user %> </span> invited 
    <%= link_to(target_profile_name, 'index.php?r=profile/view&id='+target_profile_id) %> to vote in poll 
    <span class='info_poll_new' data-poll_id='<%= poll_id %>'>
    <%= poll %> </span>
    <% } %>
    <% if (type == COMMENT) { %>
    <span class='info_user_new' data-profile_id='<%= profile_id %>'>
    <%= user %> </span> commented in poll 
    <span class='info_poll_new' data-poll_id='<%= poll_id %>'>
    <%= poll %> </span>
    <% } %>
    <% if (type == REPLY_COMMENT) { %>
    <span class='info_user_new' data-profile_id='<%= profile_id %>'>
    <%= user %> </span> replied a comment in poll 
    <span class='info_poll_new' data-poll_id='<%= poll_id %>'>
    <%= poll %> </span>
    <% } %>
</div>