<%
    CREATE_POLL = 1;
    ADD_CHOICE = 2;
    CHANGE_POLL_TIME = 3;
    CHANGE_POLL_SETTING = 4;
    VOTE = 5;
    RE_VOTE = 6;
    INVITE = 7;
    COMMENT = 8;
    REPLY_COMMENT = 9;
%>
<div id="stream_<%= id %>" class="alert alert-success stream-item" hidden="hidden">
    <% if (type == CREATE_POLL) { %>
    <%= link_to(profile_name, 'index.php?r=profile/view&id='+profile_id) %> created poll 
    <%= link_to(poll_question, 'index.php?r=poll/view&id='+poll_id) %>
    <% } %>
    <% if (type == ADD_CHOICE) { %>
    <%= link_to(profile_name, 'index.php?r=profile/view&id='+profile_id) %> added choice
    <%= link_to(choice_content, 'index.php?r=poll/view&id='+poll_id) %> for poll
    <%= link_to(poll_question, 'index.php?r=poll/view&id='+poll_id) %>
    <% } %>
    <% if (type == CHANGE_POLL_TIME) { %>
    <%= link_to(profile_name, 'index.php?r=profile/view&id='+profile_id) %> changed time settings of poll 
    <%= link_to(poll_question, 'index.php?r=poll/view&id='+poll_id) %>
    <% } %>
    <% if (type == CHANGE_POLL_SETTING) { %>
    <%= link_to(profile_name, 'index.php?r=profile/view&id='+profile_id) %> changed settings of poll 
    <%= link_to(poll_question, 'index.php?r=poll/view&id='+poll_id) %>
    <% } %>
    <% if (type == VOTE) { %>
    <%= link_to(profile_name, 'index.php?r=profile/view&id='+profile_id) %> voted in poll
    <%= link_to(poll_question, 'index.php?r=poll/view&id='+poll_id) %> with
    <%= link_to(choice_content, 'index.php?r=poll/view&id='+poll_id) %>
    <% } %>
    <% if (type == RE_VOTE) { %>
    <%= link_to(profile_name, 'index.php?r=profile/view&id='+profile_id) %> re-voted in poll 
    <%= link_to(poll_question, 'index.php?r=poll/view&id='+poll_id) %> with 
    <%= link_to(choice_content, 'index.php?r=poll/view&id='+poll_id) %>
    <% } %>
    <% if (type == INVITE) { %>
    <%= link_to(profile_name, 'index.php?r=profile/view&id='+profile_id) %> invited 
    <%= link_to(target_profile_name, 'index.php?r=profile/view&id='+target_profile_id) %> to vote in poll 
    <%= link_to(poll_question, 'index.php?r=poll/view&id='+poll_id) %>
    <% } %>
    <% if (type == COMMENT) { %>
    <%= link_to(profile_name, 'index.php?r=profile/view&id='+profile_id) %> commented in poll 
    <%= link_to(poll_question, 'index.php?r=poll/view&id='+poll_id) %>
    <% } %>
    <% if (type == REPLY_COMMENT) { %>
    <%= link_to(profile_name, 'index.php?r=profile/view&id='+profile_id) %> replied a comment in poll 
    <%= link_to(poll_question, 'index.php?r=poll/view&id='+poll_id) %>
    <% } %>
</div>